body {
    background-color: #85dcb8;

}

h1 {
     text-align: center;
     color: black;
     font-size: xx-large;
     font-family: 'Libre Franklin', sans-serif;
     font-weight: bold;
     text-shadow: 2px 2px 2px grey;
     padding: 1%;
 }

h2 {
    text-align: center;
    color: black;
    font-size: x-large;
    font-family: 'Zen Kurenaido', sans-serif;
}

h3 {
    color: black;
    font-size: small;
    padding: 1% 2% 0 2%;
}

#container {
    background-color: #E27D60;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

img {
    margin: 20px auto;
    width: 50%;
    border-radius: 20px;
}

nav {
    text-align: center;
    margin: 4px auto;
    background-color: #C38D9E;
    padding: 1% 0 0 0;
}

nav a {
    display: inline-block;
    background-color: #E8A87C;
    height: 50px;
    width: 100px;
    line-height: 50px;
    font-size: 1em;
    color: black;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background-color: #E27D60;
    color: white;
}

.active {
    background-color: #E27D60;
    color: white;
}

.description {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 1% 2% 0 2%;
}

footer {
    padding: 1%;
    text-align: center;
}

.image {
    text-align: center;
}